In [1]:
a = 9

In [2]:
a

9

In [4]:
m = mahboobullah
me = meena
k = kawsar
h = huda
s = sana

NameError: name 'mahboobullah' is not defined

In [5]:
m

NameError: name 'm' is not defined

In [6]:
k

NameError: name 'k' is not defined

In [8]:
husband = 'mahboobullah'
wife = 'meena'
daughter1 = 'kawsar'
daughter2 = 'huda'
daughter3 = 'sana'

In [9]:
husband

'mahboobullah'

In [10]:
husband
wife
daughter1
daughter2
daughter3

'sana'

In [11]:
daughter1

'kawsar'

In [12]:
daughter2

'huda'

In [13]:
wife

'meena'

In [14]:
a = 15

In [15]:
a

15

In [26]:
a = a + a

In [27]:
a

480

In [28]:
type(a)

int

In [31]:
my_income = 6500

tax_rate = 0.2

total_taxes = my_income * tax_rate

In [32]:
total_taxes

1300.0

In [33]:
panagah_salary = 6500

to_pay_rent = 0.3

total_rent_paid = panagah_salary * to_pay_rent

In [34]:
total_rent_paid

1950.0