In [12]:
# sets are 
my_set = set()

In [13]:
my_set

set()

In [14]:
my_set.add(1)

In [15]:
my_set

{1}

In [16]:
# set is diferent from list and tuples, set doesn't accept a duplicate value

In [17]:
my_set.add(2)

In [18]:
my_set

{1, 2}

In [19]:
my_set.add(2)

In [20]:
my_set

{1, 2}

In [21]:
my_list = (1,1,1,2,2,2,3,3,3)

In [22]:
my_list

(1, 1, 1, 2, 2, 2, 3, 3, 3)

In [23]:
set(my_list)

{1, 2, 3}