___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: there are two main types of number we have in python (1. Integers which are whole numbers & 2. Floating point numbers which are numbers with a decimal). example of integers (1,2,4,5,44,76) & example of floating numbers (2.3,0.5,100.66) 

Strings: are siquances of characters, using the syntax of single quote or double quote. it is worth to mention strings are orderd sequances, which means we can use indexing and slicing to grab sub sections of a string.
example ('hello world') or ("goodby world")

Lists: are orderd sequences of elements which can hold a variety of objects in it. for list we can use square brakets [] and commas to separate the objects inside a list.
example [11,12,33,'this is an example of list']
note: lists support indexing and slicing. lists can be nested, list also have a variety of methods and properties.

Tuples: are similar to list with a key difference (immutability). means once an element assigned in a tuple it can not be re-assigned.
example (1,2,3,6,7,8).

Dictionaries: are unorderd mapping for storing objects and elements. dectionaries uses a key and a value pairing instead.
this key-value pairing allow users to grab elements without needing to know the index location.
example {'key1':'value1','k2':'v2'}

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [10]:
2+8 * 8+2 + 65/2

100.5

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [15]:
44
29
50
4*(6+5)
4*6+5
4+6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
float

What would you use to find a numberâ€™s square root, as well as its square?

In [59]:
# Square root:
10 ** 0.5

3.1622776601683795

In [57]:
# Square:
10 ** 2

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [17]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

Reverse the string 'hello' using slicing:

In [60]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [33]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [34]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [63]:
# Method 1:
[0]*3

[0, 0, 0]

In [61]:
# Method 2:
my_list2 = [0,0,0]
my_list2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [45]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [47]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [49]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [50]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [64]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [66]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>
no: becuase dictionaries are mappings not a sequence

## Tuples

What is the major difference between tuples and lists?<br><br>
Tuples are immutable while lists are mutable!

In [76]:
#How do you create a tuple?
my_t1 = (1,2,3,4)

## Sets

What is unique about a set?<br><br>
Sets dont allow duplicate items

Use a set to find the unique values of the list below:

In [77]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [84]:
# Answer before running cell  
2 > 3
# fales

False

In [82]:
# Answer before running cell 
3 <= 2
# fales

False

In [83]:
# Answer before running cell
3 == 2.0
# fales

False

In [85]:
# Answer before running cell 
3.0 == 3
# true

True

In [86]:
# Answer before running cell
4**0.5 != 2
# fales

False

Final Question: What is the boolean output of the cell block below?

In [87]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
# fales

False

## Great Job on your first assessment!