In [8]:
#Tuples are very similar to lists. however they have one key difference which is immutability.
#once an element is inside a tuple, it can not be reassigned.
#tuples use parenthesis (1,2,3)

In [9]:
t1 = (1,2,3,4,5)

In [10]:
t1

(1, 2, 3, 4, 5)

In [11]:
type(t1)

tuple

In [12]:
t1.count(1)

1

In [13]:
t1.index(4)

3

In [14]:
#the very difference between list and a tuple is immutability which lists are mutable and tuples are immutable

In [15]:
mylist = [1,2,3,4,5,]
mytuple = (1,2,3,4,5)

In [18]:
mylist[1] = 'TWo'

In [19]:
mylist

[1, 'TWo', 3, 4, 5]

In [20]:
mytuple[1] = 'TWO'

TypeError: 'tuple' object does not support item assignment