In [1]:
tl = (1,2,3,4,5)

In [2]:
type(tl)

tuple

In [5]:
tl[2]

3

In [7]:
tl[-1]

5

In [8]:
# counting a value of index in tuples

In [11]:
tl = ('a','b','b','c','d','e','e')

In [13]:
tl.count('b')

2

In [14]:
tl.count('e')

2

In [19]:
# indexing with tuples
# note: when we have a duplicate value in tuple and calling to show the index of a duplicate value it will show us the 
# index of it's very first value

In [16]:
tl.index('b')

1

In [17]:
tl.index('e')

5

In [20]:
# tuple is different from a list in list we can change an element and re-asign a new value to that element
# but in tuple we can't do it, becuase tuple is immutable

In [23]:
my_list = [1,2,3,4,5]
tl = (1,2,3,4,5)

In [24]:
my_list

[1, 2, 3, 4, 5]

In [25]:
tl

(1, 2, 3, 4, 5)

In [26]:
my_list[1] = 'NEW'

In [27]:
my_list

[1, 'NEW', 3, 4, 5]

In [28]:
tl[1] = 'NEW'

TypeError: 'tuple' object does not support item assignment